body {
  background-color: #fdf8f0;
}

main {
  width: 100vw;
}

.preview_container {
  display: flex;
  flex-wrap: wrap;
}

.frame-text {
  width: 20%;
}
.frame_container {
  width: 80%;
}

.frame-style {
  width: 2rem;
  height: 2rem;
  border: 2px solid #ddccbc;
  margin-right: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

/* preview image */
#img_canvas {
  margin-bottom: 40px;
  border: 2px solid #ddccbc;
}

.upload-section {
  width: 100%;
}
