/* preview image */
#img_canvas {
  border: 1px solid grey;

  margin-bottom: 40px;
}

.frame-style {
  width: 63.25px;
  cursor: pointer;
}

main {
}

.preview_container {
  display: flex;
}

.frame_container {
  margin: 20px;
}

@media (min-width: 800px) {
  main {
    display: flex;
  }
}
